*{
    -fx-padding: 0;
    -fx-margin: 0;
    box-sizing: border-box;
    -fx-background-color: rgb(5, 15, 23);
    -fx-text-fill: white;
}

@font-face {
    -fx-font-family: 'Ancizar Sans';
    src: url("fonts/AncizarSans-VariableFont_wght.ttf");
}
.root {
    -fx-font-family: "sans-serif";

}

.header-button {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: rgb(77, 172, 154);
    -fx-underline: none;
}

.header-button:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.header{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgb(24, 38,49);
    -fx-border-insets: 10;
}
.titleHeader{
    -fx-text-fill: rgb(77, 172, 154);
}

.emergyDiv{
    -fx-text-alignment: center;
    -fx-padding: 10px;

}
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.signIn {
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-border-color: rgb(67, 151, 161);
    -fx-font-weight: bold;
    -fx-pref-width: 300px;


    -fx-border-radius: 5px;
    -fx-text-fill: white;
}




.simulationLbl{
    -fx-text-fill: rgb(129, 136, 142);
    -fx-font-size: 15px;
}
.simulationTxt{
    -fx-text-fill:  rgb(101, 112, 121);
    -fx-padding: 10px;
    -fx-border-color: rgba(60, 72, 81, 0.86);
    -fx-pref-width: 300px;
}
.simulationBtn{
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-border-color: rgb(67, 151, 161);
    -fx-font-weight: bold;
    -fx-pref-width: 300px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;

}
.simulationSlct{
    -fx-border-color: rgba(60, 72, 81, 0.86);
    -fx-padding: 10px;
    -fx-font-size: 10px;
}


.backBtn{
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(60, 72, 81, 0.86);
    -fx-background-color: rgb(4, 22, 36);
}

.graphicBtn{
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-border-color: rgb(67, 151, 161);
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #081f2b, #174251);
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}

