*{
    -fx-padding: 0;
    -fx-margin: 0;
    box-sizing: border-box;
    -fx-background-color: rgb(5, 15, 23);
    -fx-text-fill: white;
}

@font-face {
    -fx-font-family: 'Ancizar Sans';
    src: url("fonts/AncizarSans-VariableFont_wght.ttf");
}
.root {
    -fx-font-family: "sans-serif";

}

.header-button {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: rgb(77, 172, 154);
    -fx-underline: none;
}

.header-button:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.header{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgb(24, 38,49);
    -fx-border-insets: 10;
}
.titleHeader{
    -fx-text-fill: rgb(77, 172, 154);
}
.emergyDiv{
    -fx-text-align: center;
    -fx-padding: 10px;
}
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sidebar {
    -fx-padding: 10;
    -fx-background-color: #2c3e50;
}
.sidebar .button {
    -fx-max-width: Infinity;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5px;
    -fx-cursor: hand;
}


.error {
    -fx-text-fill: red;
}
